## Basic of pandas Series
    A Pandas Series is a one-dimensional labeled array that can store data of any type 
    (integers, floats, strings, Python objects, etc.).
    It has two main components:
    Values → the actual data
    Index → labels for each value (like row numbers, but customizable)

In [10]:
import pandas as pd

### version checking

In [13]:
pd.__version__

'2.2.2'

### Creating a pandas series

In [16]:
pan_series = pd.Series([1,2,3,7,9,1,"Git",True])
pan_series

0       1
1       2
2       3
3       7
4       9
5       1
6     Git
7    True
dtype: object

In [18]:
type(pan_series)

pandas.core.series.Series

### Creating a empty series

In [21]:
pan_series1 = pd.Series([])
pan_series1

Series([], dtype: object)

In [7]:
# Changing the index of series
pan_series2 = pd.Series([1,2,3,7,9,1,"Git",True],index=['a','b','c','d','e','f','g','h'])
pan_series2

a       1
b       2
c       3
d       7
e       9
f       1
g     Git
h    True
dtype: object

In [8]:
pan_series3 = pd.Series([1,23,4,6,2,3],dtype=float)
pan_series3

0     1.0
1    23.0
2     4.0
3     6.0
4     2.0
5     3.0
dtype: float64

### Creating series from scalar values scalar values means single value

In [24]:
pan_series4 = pd.Series(3,index=[1,2,3,4,5,6,7,8])
pan_series4

1    3
2    3
3    3
4    3
5    3
6    3
7    3
8    3
dtype: int64

###  Creating series from python dictionary

In [26]:
pd_dic = {"Srno" : [1,2,3,4],"Roll_no":[101,102,103,104],"Subject": ["m1","m2","m3","m4"]}
pd_series5 = pd.Series(pd_dic)
pd_series5

Srno               [1, 2, 3, 4]
Roll_no    [101, 102, 103, 104]
Subject        [m1, m2, m3, m4]
dtype: object

In [31]:
# Access the series element by index
pd_series5[2]

C:\Users\Dell\AppData\Local\Temp\ipykernel_1896\4138553625.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  pd_series5[2]

['m1', 'm2', 'm3', 'm4']

In [33]:
# Slicing in series
pd_series5[1:]

Roll_no    [101, 102, 103, 104]
Subject        [m1, m2, m3, m4]
dtype: object

### maths operation

In [36]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [50]:
print("Mean of series s5 ::",s5.mean())
print("Max Element of series s5 ::",s5.max())
print("Samllest Element of series s5 ::",s5.min())

Mean of series s5 :: 3.0
Max Element of series s5 :: 5
Samllest Element of series s5 :: 1