##  Creating DataFrame with different ways
    A Pandas DataFrame is a two-dimensional, size-mutable, and labeled data structure used to store data in rows and 
    columns, similar to a table in a database or an Excel spreadsheet.
    Key Points:
    - Data is arranged in rows (index) and columns
    - Each column can contain different data types
    - Built using a collection of Pandas Series

In [10]:
import numpy as np
import pandas as pd

### Crearting Empty Dataframe

In [12]:
pd_dframe = pd.DataFrame([])
print(pd_dframe)

Empty DataFrame
Columns: []
Index: []

### Dataframe with Single Column

In [14]:
pd_dframe1 = pd.DataFrame([1,2,3,4,5])
pd_dframe1

   0
0  1
1  2
2  3
3  4
4  5

### Dataframe with Multiple Column

In [18]:
pd_dframe2 = pd.DataFrame([[1,2,3],[1,2,3],[3,2,1]])
pd_dframe2

   0  1  2
0  1  2  3
1  1  2  3
2  3  2  1

### Dataframe by dictionary

In [12]:
pd_dic = {"Srno" : [1,2,3,4],"Roll_no":[101,102,103,104],"Subject": ["m1","m2","m3","m4"]}
pd_dframe3 = pd.DataFrame(pd_dic)
pd_dframe3

   Srno  Roll_no Subject
0     1      101      m1
1     2      102      m2
2     3      103      m3
3     4      104      m4