## Fill NaN Value
    Filling NaN (Missing) Values in Pandas
    In Pandas, NaN (Not a Number) represents missing or undefined data.
    The method fillna() is used to replace NaN values with a specified value or method instead of removing them.

    Most Common Way to Fill NAN Value 
     - ffill -> Fill NAN Values with Forward values
     - bfill -> Fill NAN values with Previous Values
     - etc

In [23]:
import pandas as pd

In [37]:
df = pd.read_csv("C:\\Users\\Dell\\Desktop\\_PANDAS_\\Data\\Fortune_10.csv")
df

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,NaN,2006,"$13,898,119","5,470,303 Dollars",NaN,23%
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",NaN,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,NaN

### Fill the NaN value by dictionary

In [26]:
df.fillna({'Industry':'None','Profit': 0,'Growth':0})

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,None,2006,"$13,898,119","5,470,303 Dollars",0.0,23%
6,7,Cityace,None,2010,"$9,254,614","6,249,498 Dollars",0.0,6%
7,8,Kayelectronics,None,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180",NaN,11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,0

### Fill NAN by method - ffill

In [39]:
df.fillna(method = 'ffill',limit = 1,inplace=True)
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_7336\4081483947.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill',limit = 1,inplace=True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",3138627.0,23%
6,7,Cityace,NaN,2010,"$9,254,614","6,249,498 Dollars",NaN,6%
7,8,Kayelectronics,NaN,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,18%

### Fill NAN by method - bfill

In [41]:
df.fillna(method = 'bfill',inplace = True)
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_7336\2474792483.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'bfill',inplace = True)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4,Mattouch,IT Services,2013,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5,Techdrill,Health,2009,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6,Techline,Health,2006,"$13,898,119","5,470,303 Dollars",3138627.0,23%
6,7,Cityace,IT Services,2010,"$9,254,614","6,249,498 Dollars",5573830.0,6%
7,8,Kayelectronics,IT Services,2009,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9,Ganzlax,IT Services,2011,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,10,Trantraxlax,Government Services,2011,"$11,088,336","5,635,276 Dollars",5453060.0,18%