## Pandas Replace value
       In Pandas, the replace() method is used to substitute specific values in a DataFrame or Series with new values.
       It is commonly used for data cleaning, handling invalid values, and standardizing data.
       Can replace single values, multiple values, or patterns.
       Works on both DataFrames and Series.
       Can be applied column-wise.

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\Dell\\Desktop\\_PANDAS_\\Data\\Fortune_10.csv")
df.head(3)

,ID,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3,Canecorporation,Health,2012,"$10,597,009","7,591,189 Dollars",3005820.0,7%

### Filter the DataFrame to keep only specific columns relevant for analysis

In [7]:
df = df[['ID','Name','Industry','Expenses','Growth']]
df.head(3)

   ID             Name            Industry           Expenses Growth
0   1          Lamtone         IT Services  6,482,465 Dollars    30%
1   2        Stripfind  Financial Services    916,455 Dollars    20%
2   3  Canecorporation              Health  7,591,189 Dollars     7%

In [9]:
df.fillna(method = 'bfill',inplace=True)
df

C:\Users\Dell\AppData\Local\Temp\ipykernel_18552\2612138760.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'bfill',inplace=True)

   ID             Name             Industry           Expenses Growth
0   1          Lamtone          IT Services  6,482,465 Dollars    30%
1   2        Stripfind   Financial Services    916,455 Dollars    20%
2   3  Canecorporation               Health  7,591,189 Dollars     7%
3   4         Mattouch          IT Services  7,429,377 Dollars    26%
4   5        Techdrill               Health  7,435,363 Dollars     8%
5   6         Techline          IT Services  5,470,303 Dollars    23%
6   7          Cityace          IT Services  6,249,498 Dollars     6%
7   8   Kayelectronics          IT Services  3,878,113 Dollars     4%
8   9          Ganzlax          IT Services  5,635,276 Dollars    18%
9  10      Trantraxlax  Government Services  5,635,276 Dollars    NaN

### Replace all occurrences of 'IT Services' with 'Education' across the entire DataFrame

In [11]:
df.replace('IT Services','Education')

   ID             Name             Industry           Expenses Growth
0   1          Lamtone            Education  6,482,465 Dollars    30%
1   2        Stripfind   Financial Services    916,455 Dollars    20%
2   3  Canecorporation               Health  7,591,189 Dollars     7%
3   4         Mattouch            Education  7,429,377 Dollars    26%
4   5        Techdrill               Health  7,435,363 Dollars     8%
5   6         Techline            Education  5,470,303 Dollars    23%
6   7          Cityace            Education  6,249,498 Dollars     6%
7   8   Kayelectronics            Education  3,878,113 Dollars     4%
8   9          Ganzlax            Education  5,635,276 Dollars    18%
9  10      Trantraxlax  Government Services  5,635,276 Dollars    NaN

### Perform a bulk replacement of ID values using list-to-list mapping
### Replaces 1 with 11, 2 with 12, etc.

In [13]:
df.replace([1,2,3,4,5,6,7,8,9,10],[11,12,13,14,15,16,17,18,19,20])

   ID             Name             Industry           Expenses Growth
0  11          Lamtone          IT Services  6,482,465 Dollars    30%
1  12        Stripfind   Financial Services    916,455 Dollars    20%
2  13  Canecorporation               Health  7,591,189 Dollars     7%
3  14         Mattouch          IT Services  7,429,377 Dollars    26%
4  15        Techdrill               Health  7,435,363 Dollars     8%
5  16         Techline          IT Services  5,470,303 Dollars    23%
6  17          Cityace          IT Services  6,249,498 Dollars     6%
7  18   Kayelectronics          IT Services  3,878,113 Dollars     4%
8  19          Ganzlax          IT Services  5,635,276 Dollars    18%
9  20      Trantraxlax  Government Services  5,635,276 Dollars    NaN

### Use a dictionary to target a specific column for replacement
### Only replaces 'Health' within the 'Industry' column with 'Gaming'

In [30]:
df.replace({'Industry':'Health'},'Gaming')

   ID             Name             Industry           Expenses Growth
0   1          Lamtone          IT Services  6,482,465 Dollars    30%
1   2        Stripfind   Financial Services    916,455 Dollars    20%
2   3  Canecorporation               Gaming  7,591,189 Dollars     7%
3   4         Mattouch          IT Services  7,429,377 Dollars    26%
4   5        Techdrill               Gaming  7,435,363 Dollars     8%
5   6         Techline          IT Services  5,470,303 Dollars    23%
6   7          Cityace          IT Services  6,249,498 Dollars     6%
7   8   Kayelectronics          IT Services  3,878,113 Dollars     4%
8   9          Ganzlax          IT Services  5,635,276 Dollars    18%
9  10      Trantraxlax  Government Services  5,635,276 Dollars    NaN

### Apply a Regular Expression (regex) replacement within a specific column
### Replaces any alphabetic string in the 'Name' column with the integer 0

In [17]:
df.replace({'Name':'[A-Za-z]'},0,regex=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_18552\732172366.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.replace({'Name':'[A-Za-z]'},0,regex=True)

   ID  Name             Industry           Expenses Growth
0   1     0          IT Services  6,482,465 Dollars    30%
1   2     0   Financial Services    916,455 Dollars    20%
2   3     0               Health  7,591,189 Dollars     7%
3   4     0          IT Services  7,429,377 Dollars    26%
4   5     0               Health  7,435,363 Dollars     8%
5   6     0          IT Services  5,470,303 Dollars    23%
6   7     0          IT Services  6,249,498 Dollars     6%
7   8     0          IT Services  3,878,113 Dollars     4%
8   9     0          IT Services  5,635,276 Dollars    18%
9  10     0  Government Services  5,635,276 Dollars    NaN

### Replace a specific value ('30%') by copying the next available value (backfill)
### This fills the spot where '30%' was with the data from the row below it

In [19]:
df.replace('30%' , method = 'bfill')

C:\Users\Dell\AppData\Local\Temp\ipykernel_18552\2060479939.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace('30%' , method = 'bfill')

   ID             Name             Industry           Expenses Growth
0   1          Lamtone          IT Services  6,482,465 Dollars    20%
1   2        Stripfind   Financial Services    916,455 Dollars    20%
2   3  Canecorporation               Health  7,591,189 Dollars     7%
3   4         Mattouch          IT Services  7,429,377 Dollars    26%
4   5        Techdrill               Health  7,435,363 Dollars     8%
5   6         Techline          IT Services  5,470,303 Dollars    23%
6   7          Cityace          IT Services  6,249,498 Dollars     6%
7   8   Kayelectronics          IT Services  3,878,113 Dollars     4%
8   9          Ganzlax          IT Services  5,635,276 Dollars    18%
9  10      Trantraxlax  Government Services  5,635,276 Dollars    NaN

### Replace a specific value ('30%') by copying the next available value (backfill)
### This fills the spot where '30%' was with the data from the row below it

In [21]:
df.replace('IT Services',method= 'bfill',limit = 2)

C:\Users\Dell\AppData\Local\Temp\ipykernel_18552\1615483125.py:1: FutureWarning: The 'method' keyword in DataFrame.replace is deprecated and will be removed in a future version.
  df.replace('IT Services',method= 'bfill',limit = 2)

   ID             Name             Industry           Expenses Growth
0   1          Lamtone   Financial Services  6,482,465 Dollars    30%
1   2        Stripfind   Financial Services    916,455 Dollars    20%
2   3  Canecorporation               Health  7,591,189 Dollars     7%
3   4         Mattouch               Health  7,429,377 Dollars    26%
4   5        Techdrill               Health  7,435,363 Dollars     8%
5   6         Techline          IT Services  5,470,303 Dollars    23%
6   7          Cityace          IT Services  6,249,498 Dollars     6%
7   8   Kayelectronics  Government Services  3,878,113 Dollars     4%
8   9          Ganzlax  Government Services  5,635,276 Dollars    18%
9  10      Trantraxlax  Government Services  5,635,276 Dollars    NaN