## Pandas loc and iloc for accessing rows 
     In Pandas, loc and iloc are used to select and access data from a DataFrame or Series. They provide powerful and flexible 
     ways to perform indexing and slicing.
       loc (Label-based indexing)
       - Accesses data using row and column labels
       - Includes both start and end labels
       - Can use boolean conditions

       iloc (Integer position-based indexing)
       - Accesses data using integer positions
       - Follows Python indexing (end index excluded)
       - Does not use labels

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\Dell\\Desktop\\_PANDAS_\\Data\\student_result1.csv")
df.head(2)

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80

### For accesssing rows

In [8]:
df.loc[0]

Student ID                1001
Section                      A
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: object

### access record as field set

In [11]:
df.loc[[0]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50

### Accessing multiple rows

In [14]:
df.loc[1:3]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45

### For accessing multiple selected recored

In [17]:
df.loc[[1,3,4]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

### For accessing multiple selected recored with selected col.

In [20]:
df.loc[[1,3], "Student ID"]

1    1002
3    1004
Name: Student ID, dtype: int64

In [31]:
df.loc[0:3,"Social Media usage hrs"]

0    3
1    2
2    2
3    1
Name: Social Media usage hrs, dtype: int64

### For accessing multiple selected recored with selected multiple col

In [23]:
df.loc[0:3,["Social Media usage hrs","Student ID"]]

   Social Media usage hrs  Student ID
0                       3        1001
1                       2        1002
2                       2        1003
3                       1        1004

### Getting records by condition

In [26]:
df.loc[df["Percentage"]>=60]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
4        1005       C     12          5                       2          75

## Using iloc

In [52]:
df.iloc[0]   # For accesssing rows

Student ID                1001
Section                      A
Class                       10
Study hrs                    2
Social Media usage hrs       3
Percentage                  50
Name: 0, dtype: object

### Access record as field set

In [54]:
df.iloc[[0]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50

### Accessing multiple rows

In [56]:
df.iloc[1:3]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

### For accessing multiple selected recored

In [58]:
df.iloc[[1,3,4]]

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
1        1002       B     10          6                       2          80
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75